
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.navbar {
    background-color: bisque;
    padding: 10px 0;
    text-align: center;
}

.contenedor-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1400px;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.anav {
    color: black;
    text-decoration: none;
}

#titulo {
    color: #20E2B6;
    font-size: 30px;
    font-family: 'Dela Gothic One', cursive;
    margin: 10px 0;
    
}

p {
    margin-top: 5px;
    font-size: 40px;

}

.destinos {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

.anclas {
    color: black;
    text-decoration: none;
}

.anclas:hover {
    color: aquamarine;
    text-decoration: underline;
    background-color: blueviolet;
}


.caja {
    background-color: blueviolet;
    border: 1px solid black;
    width: 100%;
    height: 100px; 
    padding: 5px;
    margin: 50px 10px;
    display: inline-block;
}

#mendozadiv {
    display:block;
}

section #BA {
    display: flex;
}

@media (max-width: 320px ) { /* ESTILOS RESPONSIVE CUANDO LA PANTALLA TIENE UN MÁXIMO DE 320PX */
    .contenedor-flex {
        flex-direction: column;
        align-items: center;
    }

    #titulo {
        font-size: 26px;
    }

    .navbar {
        padding: 10px;
    }

    p {
        font-size: 1.25em;
        margin-left: 10px ;
    }

    
}

